################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/UpgradeLog.htm
/Release
/Release
/Backup
/packages/MSBuild.Extension.Pack.1.6.0
/MocaSnippet/bin
/MocaSnippet/obj
